In [1]:
#input

In [2]:
a = input('Please enter the a value : ')

Please enter the a value10

In [3]:
a

'10'

In [5]:
type(a)

str

In [6]:
b = input('Enter b value: ')

Enter b value: 12

In [7]:
b

'12'

In [8]:
a+b

'1012'

In [9]:
a = int(input('Please enter the a value : '))

Please enter the a value : 45

In [10]:
a

45

In [11]:
b = int(input('Enter b : '))

Enter b : 63

In [12]:
a+b

108

In [13]:
a = 10

In [14]:
str(a)

'10'

In [15]:
#multiple values as input from the console

In [16]:
a = input('Enter multiple values ')

Enter multiple values 12 30 40

In [17]:
a

'12 30 40'

In [18]:
x,y,z = input('Enter multiple values ').split()

Enter multiple values 23 45 64

In [19]:
x

'23'

In [20]:
y

'45'

In [21]:
z

'64'

In [22]:
x,y,z = int(input('Enter multiple values ').split())

Enter multiple values 12 50 40

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [23]:
x = 30

In [25]:
#if else elif
if x >= 30:
    print('Hi')

Hi

In [26]:
#odd,  even 
num = int(input())
if num%2 != 0:
    print('odd number')
elif num%2 == 0:#10%2=0 == 0
    print('Even number')
else:
    print('Enter the valid number')

21
odd number

In [27]:
2 == 3

False

In [28]:
2 != 3

True

In [29]:
2 >= 4

False

In [30]:
1 <= 2

True

In [31]:
#is

In [33]:
a = 10
b = 30
print(a == b)
print(a is b)

False
False

In [34]:
a = b

In [35]:
a

30

In [36]:
b

30

In [37]:
a == b

True

In [38]:
a is b

True

In [39]:
st1 = 'Python is fun!'
st2 = 'Python is fun!'

In [40]:
st1 == st2

True

In [41]:
st1 is st2

False

In [42]:
id(st1)

2896692837168

In [43]:
id(st2)

2896692837808

In [44]:
a =10
b = 10

In [45]:
id(a)

140735052348768

In [46]:
id(b)

140735052348768

In [47]:
st3 = 'Hello'
st4 = 'Hello'

In [48]:
st3 == st4

True

In [49]:
st3 is st4

True

if <condition>:
    if <condition>:
        statement
    else:
        statement
else:
    if <condition>:
        statement

In [50]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [51]:
#range(start,stop,increment)
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [52]:
range(1,10,2)

range(1, 10, 2)

In [55]:
list(range(1,12,2))

[1, 3, 5, 7, 9, 11]

In [56]:
#while <condition> ----> if it true

In [57]:
x = 20
while x >= 5:#20 >= 5
    print('hello')# hello
    x -= 1 #19

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [58]:
#break

In [65]:
st = 'Hello Python'
for i in st:
    if i == 'o':
        continue
    else:
        print(i)

H
e
l
l

P
y
t
h
n

In [66]:
#pass

In [67]:
a = 13
b = 33
if a < b:
    pass
else:
    print("b > a")

In [68]:
l = ['a', 'b', 'c', 'd']
for i in l:
    if (i == 'a'):
        pass
    else:
        print(i)

b
c
d

In [69]:
def fun():
    pass

In [70]:
fun()

In [72]:
#enumerator
for k, v in enumerate(l):
    print(k, v)

0 a
1 b
2 c
3 d

In [73]:
l = [1,2,3,4]
l[-1]

4

In [74]:
l[-2]

3

In [75]:
x , y = 10,30

In [76]:
x

10

In [77]:
y

30

In [78]:
x ,y , z = (2,3,4)

In [79]:
x

2

In [80]:
y

3

In [81]:
z

4

In [82]:
x , y, z = z ,x , y

In [83]:
x

4

In [84]:
y

2

In [85]:
z

3

In [86]:
chr(10)

'\n'

In [87]:
chr(56)

'8'

In [88]:
ord('8')

56

In [89]:
ord('a')

97

In [90]:
chr(97)

'a'