# Dictionary

In [121]:
d  = {'name':'Santhosh', 'age':30, 'gender':'M'}

In [122]:
d.setdefault('age',29)

30

In [123]:
d.setdefault('designation', 'software engineer')

'software engineer'

In [124]:
d

{'name': 'Santhosh',
 'age': 30,
 'gender': 'M',
 'designation': 'software engineer'}

In [125]:
#Indentation

In [126]:
x = 10
if x>20:
    print('Hello Python')
else:
    print('Hello world')

Hello world

In [127]:
"""This module checks condition . it expects two params a, b and it print mesg"""
x = 10
if x>20:
    print('Hello Python')
else:
 print('Hello world')
  print('Hi')

IndentationError: unexpected indent (<ipython-input-127-8fd34145bb36>, line 7)

In [128]:
#Comments

In [129]:
def fun(a,b):
    #function to add two numbers
    """
    Function to add two numbers
    param1: a(int)
    param2: b(int)
    return: int
    """
    return a+b

In [130]:
fun.__doc__

'\n    Function to add two numbers\n    param1: a(int)\n    param2: b(int)\n    return: int\n    '

In [131]:
fun(10,45)

55

In [132]:
'''This module checks condition . it expects two params a, b and it print mesg'''
x = 10
if x>20:
    print('Hello Python')
else:
  print('Hello world')
  print('Hi')

Hello world
Hi

In [133]:
#Mathametical operators

In [134]:
# '/' division operator

In [135]:
12/3

4.0

In [136]:
type(12/3)

float

In [137]:
#boolean data type

In [138]:
x = 10
y = 0
z = 'hi'
p = ''

In [139]:
print(bool(x))
print(bool(y))
print(bool(z))
print(bool(p))

True
False
True
False

In [140]:
bool(1)

True

In [141]:
bool(0)

False

In [142]:
#'//', '%', '*'

In [143]:
y = 0

In [144]:
for i in range(5):
    y += 2
    print(y)

2
4
6
8
10

In [145]:
#Not
l1 = [2,3,4,5]
if 6 not in l1:
    print('No value exists')
else:
    True

No value exists

In [146]:
#XOR
0^0

0

In [147]:
0^1

1

In [148]:
1^0

1

In [149]:
1^1

0

In [150]:
0 xor 0

SyntaxError: invalid syntax (<ipython-input-150-747ebb0f3ac0>, line 1)

In [151]:
0 or 1

1

In [152]:
1 or 0

1

In [153]:
#And
1 and 1

1

In [154]:
0 and 1

0

In [155]:
0 | 1

1

In [156]:
#function
# def <function name>():
#     statements
#     statements
#     .......
#     ......

In [157]:
def fun(a, b):
    print(a+b)

In [158]:
fun(10,30)

40

In [159]:
def fun():
    pass

In [160]:
fun()

In [161]:
def fun():
     print('ggj')
       print('567576')

IndentationError: unexpected indent (<ipython-input-161-ed61282859f5>, line 3)

In [162]:
#Variable scope
glob  = 45
def fun1(msg):
    loc = 65
    print(loc+glob)
    return msg
# print(loc)
print(glob)

45

In [163]:
fun1('Hi Python')

110

'Hi Python'

In [164]:
def fun3(arg):
    print(arg)
    print('hi')

In [165]:
fun3(fun1('function as argument'))

110
function as argument
hi

In [166]:
"hello python".split('o')

['hell', ' pyth', 'n']

In [167]:
l1 = ['hi', 'python']

In [168]:
''.join(l1)

'hipython'

In [169]:
txt = 'Hello Pyhton'

In [170]:
len(txt)

12

In [171]:
txt.center(20, '*')

'****Hello Pyhton****'

In [172]:
len(l1)

2

In [173]:
l2 = [1,2,6,[3,4,9]]

In [174]:
l2[1:]

[2, 6, [3, 4, 9]]

In [175]:
type(l2[3])

list

In [176]:
l2[3][2]

9

In [177]:
l3 = []
l3.append(l2[3][2])

In [178]:
l2.remove(1)

In [179]:
l2

[2, 6, [3, 4, 9]]

In [180]:
l2[2].remove(3)

In [181]:
l2

[2, 6, [4, 9]]

In [182]:
l2[2].remove(4)

In [183]:
l2

[2, 6, [9]]

In [184]:
l2 = [1,2,6,[3,4,9]]

In [185]:
l2[1:4].

SyntaxError: invalid syntax (<ipython-input-185-125f4d711d73>, line 1)

In [186]:
del l2[2][0:2]

TypeError: 'int' object does not support item deletion

In [187]:
l2

[1, 2, 6, [3, 4, 9]]

In [188]:
l2 = [1,2,6,[3,4,9]]

In [189]:
del l2[0:3][0:2]

In [190]:
l2[3]

[3, 4, 9]

In [191]:
l2.remove(1)

In [192]:
l2

[2, 6, [3, 4, 9]]